
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: url("/asset/images/illustration-hero.svg") no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */

}
#add-task-container{
     width: 350px;
     background-color: white;
     height: 80px;
     font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: 0 0 7px black;
    display: flex;
    padding: 20px 10px;
    justify-content: space-between;
    margin-bottom: 15px;
}


input{
    flex: 5;
    padding: 5px;
    margin-right:  10px;
    font-size: 1.2rem;
    border-radius: 5px;
}
#add-task{
    flex: 1;
    transition: .3s;
    padding: 5px;
    color: green;
    font-size: 1.2rem ;
    border-radius: 5px;
    border: green solid 2px; 
    background-color: white; 
}
#add-task:hover{
    color: white;
    border-radius: 8px;
    background-color: green; 
}

/* Styling for task which get added to to-do list */

.task{
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px;

    display: flex;
    padding: 5px;

    margin-bottom: 5px;
    justify-content: space-around;
}

.task li{
    list-style-type: none;
    flex: 4;
    padding: 5px;
    font-size: 1.3rem;
    margin: 10px;
    /* background-color: green; */
}

.task button{
    flex: 1;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;

}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    border: solid 2px orange;
    font-size: 1.5rem;
}
.task .checkTask:hover{
    background-color:orange ;
    color: white;
}
.task .deleteTask{
    color: red;
   
    border: solid 2px red;
    font-size: 1.5rem;
}

.task .deleteTask:hover{
    background-color:red ;
    color: white;
}
